@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,700;0,900;1,200;1,300;1,500;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* max-width on image to not surpage container */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;

  background-color: #fffafa;
  font-family: "Montserrat", sans-serif;
}
