@supports (display: grid) {
  .popular_movies {
    max-width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 230px));
    column-gap: 2.4rem;
    row-gap: 2rem;
    margin: 10%;
  }
}
.head {
  color: rgb(78, 78, 78);
  font-size: medium;
  padding-left: 10px;
  font-weight: 400;
}

.image {
  position: relative;
  background-color: red;
  height: 210px;
  border-radius: 0.8rem;
  max-width: 230px;
  -webkit-box-shadow: 26px 14px 68px -16px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 26px 14px 68px -16px rgba(0, 0, 0, 0.68);
  box-shadow: 26px 14px 68px -16px rgba(0, 0, 0, 0.68);
}
.filter_container {
  margin-top: 2rem;
  padding-left: 6rem;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .filter_container {
    padding-left: 0rem;
  }
}

.filter_container button {
  margin-right: 3rem;
  min-width: 4rem;
  margin: 4px;
  padding: 0.3rem 0.7rem;
  border: none;
  background: white;
  color: rgb(201, 27, 27);
  border-radius: 1rem;
  border: 2px solid rgb(187, 24, 24);
  font-weight: bold;
  cursor: pointer;
}
button.active {
  background: rgb(213, 21, 21);
  color: white;
}
